*.obsidian/
kindle-highlights/Sapolsky-A Primates Memoir.md
kindle-highlights/Plummer-Window on Freedom.md
kindle-highlights/Larsson-Keeland-The Girl with the Dragon Tattoo.md
kindle-highlights/Kamishiro_et_al-My Stepmoms Daughter Is My Ex.md
kindle-highlights/Gladwell-The Bomber Mafia.md
kindle-highlights/Gatou_et_al-Amagi Brilliant Park.md
kindle-highlights/Ahrens-How to Take Smart Notes.md
Readwise/Unreliable Narrator.md
kindle-highlights/Nancherla-Unreliable Narrator.md
